body {
    font-family: 'Inter', sans-serif;
}

.background {
    background-color: #7c7c7c;
    padding: 5% 20% 5% 20%;
    /* max-width: 800px; */

    /* gap: 20px; */
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 24px;
}

.intro {
    display: flex;
    gap: 20px;

}

.personal-info {
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px #DADADA;
    /* max-width: 520px; */
    /* max-height: 144px; */
    
}

.name {
    font-size: 22px;
    font-family: inter;
    font-weight: bold;
    margin-bottom: 16px; 
}

.bio {
    color: #4A4A4A;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    
}

.proficiency-skills {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.proficiency {
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    /* gap: 10px; */
    margin-bottom: 20px;
}

.levels {
    display: flex;
    gap: 50px;
}

.loading-bar-container {
  width: 100%;
  max-width: 400px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 6px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background-color: #396B5E;
}

.bar-70  { width: 70%; }
.bar-60  { width: 60%; }
.bar-15  { width: 15%; }
.bar-5  { width: 5%; }

.skills {
    /* display:flex; */
    /* flex-wrap: wrap; */
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ECF4F1; */
    /* padding: 8px 14px 8px 14px; */
    /* border-radius: 6px; */
    gap: 10px;
    /* max-height: 100px; */
}

.skills-tags p {
    background-color: #ECF4F1;
    padding: 2px 14px 2px 14px;
    border-radius: 6px;

}

.projects{
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    gap: 20px;
}

.project-1 {
    /* width: 240px; */
    /* height: 360px; */
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    background-color: #2E6E5B;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

.project-2 {
    /* width: 240px; */
    /* height: 360px; */
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    background-color: #e8f4ec;
    padding: 10px 10px 10px 10px;
}

.project-3 {
    /* width: 240px; */
    /* height: 360px; */
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    background-color: #e8f4ec;
    padding: 10px 10px 10px 10px;
}

.project-4 {
    /* width: 240px; */
    /* height: 360px; */
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    background-color: #e8f4ec;
    padding: 10px 10px 10px 10px;
}

.edu-tools {
    display: flex;
    gap: 20px;
}

.education {
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
    
}

.codespace {
    display: flex;
    /* height: 160px; */
    /* width: 540px; */
    box-shadow: 0 2px 2px #DADADA;
    background-color: #2E6E5B;
    color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.uct {
    display: flex;
    /* height: 160px; */
    /* width: 540px; */
    box-shadow: 0 2px 2px #DADADA;
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    margin-bottom: 20px;
    border-radius: 12px;

}

.westerford {
    display: flex;
    /* height: 160px; */
    /* width: 540px; */
    box-shadow: 0 2px 2px #DADADA;
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    
} 

.tools {
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.languages {
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.design {
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.tools-icons {
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
}

.heart-icon {
    color: #D9534F;
    float: right;
}

.html-icon {
    color: #d8643c;
}

.css-icon {
    color: #0373fc;
}

.js-icon {
    color: #f8fc03;
}

.node-icon {
    color: #20ba32;
}

.figma-icon {
    color: #206dba;
}

.font-awesome-icon {
    color: #ba20ab;
}

.npm-icon {
    color: #ba2520;
}
.experience {
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    margin-bottom: 20px;
}

.marketing {
    display: flex;
    background-color: #2E6E5B;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    color: #FFFFFF;
    box-shadow: 0 2px 2px #DADADA;
    margin-bottom: 20px;
}

.manager {
    display: flex;
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
    margin-bottom: 20px;
}

.deckhand {
    display: flex;
    background-color: #e8f4ec;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;
}

.footer { 
    background-color: #d8643c;
    display: flex;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 2px #DADADA;

}