.background {
    background-color: #7c7c7c;
    padding: 5% 20% 5% 20%;
    /* gap: 20px; */
}

.profile-img {
    width: 144px;
    height: 144px;
    border-radius: 24px;
    
}

.intro {
    display: flex;
    gap: 20px;

}

.personal-info {
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px;
    border-radius: 12px;
    margin-bottom: 20px;
    
}

.name {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-bottom: 16px; 
}

.bio {
    color: #4A4A4A;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    max-width: 520px;
}

.proficiency-skills {
    display: flex;
    gap: 20px;
}

.proficiency {
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    /* gap: 10px; */
    margin-bottom: 20px;
}

.levels {
    display: flex;
    gap: 50px;
}

.loading-bar-container {
  width: 100%;
  max-width: 400px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 6px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background-color: #396B5E;
}

.bar-70  { width: 70%; }
.bar-60  { width: 60%; }
.bar-15  { width: 15%; }
.bar-5  { width: 5%; }

.skills {
    /* display:flex; */
    /* flex-wrap: wrap; */
    background-color: #FFFFFF;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ECF4F1; */
    /* padding: 8px 14px 8px 14px; */
    /* border-radius: 6px; */
    gap: 20px;
}

.skills-tags p {
    background-color: #ECF4F1;
    padding: 8px 14px 8px 14px;
    border-radius: 6px;

}

.projects{
    background-color: #FFFFFF;
}

.projects-container {
    display: flex;
}

.education {
    background-color: #FFFFFF;
}

.tools {
    background-color: #FFFFFF;

}

.experience {
    background-color: #FFFFFF;
}

footer {
    background-color: #d8643c;
}